.grad1 {
	background: -webkit-linear-gradient(left top, black, green);
	background: -o-linear-gradient(bottom right, black, green);
	background: -moz-linear-gradient(bottom right, black, green);
	background: linear-gradient(to bottom right, black, green);
}

.grad2 {
	background: -webkit-linear-gradient(left top, green, black);
	background: -o-linear-gradient(bottom right, green, black);
	background: -moz-linear-gradient(bottom right, green, black);
	background: linear-gradient(to bottom right, green, black);
}

html {
	height: 100%;
}

body {
    color: #FFFFFF;
}

.center {
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.playlist,audio{background:#666;width:400px;padding:20px;}
.playlist .active a{color:#5DB0E6;text-decoration:none;}
.playlist li a{color:#eeeedd;background:#333;padding:5px;display:block;}
.playlist li a:hover{text-decoration:none;}

